<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-2">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-x"></i
        ></a>
  
        <!-- Google -->
        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-g"></i
        ></a>
  
        <!-- Instagram -->
        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/faslu_rahman_18/?hl=en" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/faslu-rahman-9981a9293/" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Github -->
        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://github.com/faslur18" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
  
     
  
      <!-- Section: Text -->
      <section class="mb-4">
        <p>
          This is a Dashboard Page
        </p>
      </section>
      <!-- Section: Text -->
  


    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2024 Copyright: Faslu Rahman
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->