.toolbar-item-spacer {
    flex: 1 1 auto;
}

.app-container {
    height: 90%;
    margin: 0;
}  
.app-sidenav {
    width: 230px;
}
.app-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.color{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 11%, rgba(253,29,29,1) 53%, rgba(252,176,69,1) 88%);
}